section(class="post-list")
  p I don't know if this is for you, but I have a weekly newsletter. You can sign up for it here:
  a(href="https://tinyletter.com/justintaylor" target="_blank" class="secondary-navigation__link" ) My fascinating newsletter - out now on the internet  
  //- form(class="subscribe")
  //-   label(class="form__label" for="subscribe__email") Subscribe to stay in the loop
  //-   input(type="email" class="form__text-input" id="subscribe__email" placeholder="you@are.awesome.com" required)
  //-   button(type="button" class="form__submit" id="subscribe__submit") Sign me up.

  h3 My latest posts.
  - if(public.posts._contents.length>=1){
    - for(var i = public.posts._contents.length-1; i >= 0; i--){
      - var link = public.posts._contents[i].toString().replace('.html', '')
        h4= public.posts._data[public.posts._contents[i].toString().replace('.html', '')].title
        em= public.posts._data[public.posts._contents[i].toString().replace('.html', '')].date
        //- if public.posts._data[public.posts._contents[i].toString().replace('.html', '')].image
        if public.posts._data[public.posts._contents[i].toString().replace('.html', '')].image
          img(src=public.posts._data[public.posts._contents[i].toString().replace('.html', '')].image class="overview__image")
        p= public.posts._data[public.posts._contents[i].toString().replace('.html', '')].description
        a(href="posts/#{link}.html" class="navigation__link overview__link") Read on.
        hr(class="overview__seperator")
  - }
  - }

  //- 
  //- for x in [public.posts._contents.length -1, public.posts._contents.length -2, public.posts._contents.length -3]
  //-   h4= public.posts._data[public.posts._contents[x].toString().replace('.html', '')].title
  //-   em= public.posts._data[public.posts._contents[x].toString().replace('.html', '')].date
  //-   p= public.posts._data[public.posts._contents[x].toString().replace('.html', '')].description
  //-   a(href="posts/#{public.posts._contents[x].toString().replace('.html', '')}" class="navigation__link overview__link") Read on.
  //-   hr(class="overview__seperator")

a(href="archive.html" class="navigation__link overview__link") View all posts.
