section(class="post-list")
  p Here are a selection of the projects that I'm particularly proud to have worked on.
  h3 My portfolio.
- for(var i = public.projects._contents.length-1; i >= 0; i--){
  - var link = public.projects._contents[i].toString().replace('.html', '')
  - var title = public.projects._data[public.projects._contents[i].toString().replace('.html', '')].title
    h4 #[a(href="projects/#{link}.html") #{title}]
    em= public.projects._data[public.projects._contents[i].toString().replace('.html', '')].date
    //- if public.projects._data[public.projects._contents[i].toString().replace('.html', '')].image
    if public.projects._data[public.projects._contents[i].toString().replace('.html', '')].image
      img(src=public.projects._data[public.projects._contents[i].toString().replace('.html', '')].image class="overview__image")
    p= public.projects._data[public.projects._contents[i].toString().replace('.html', '')].description
    a(href="projects/#{link}.html" class="navigation__link overview__link") Read on.
    hr(class="overview__seperator")
- }
